if SHIELD_1stTRY_LEFT

config ZMK_KEYBOARD_NAME
    default "1stTRY"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_1stTRY_LEFT || SHIELD_1stTRY_RIGHT

config ZMK_SPLIT
    default y

endif